<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css'%}" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Password reset</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">{{ form.as_p }}</div>
          <div class="primary-button">
            <button type="submit">Reset password</button>
          </div>
          <a href="{% url 'login' %}" style="text-decoration: none"
            >Click here to login</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
