.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.content .left {
  padding: 30px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content .right .academicdetails {
  padding: 30px;
  margin: 10px;
  border-radius: 12px;
  line-height: 1.5;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.content h2 {
  margin: 10px 0;
  text-align: center;
}
.content .form-group label {
  display: block;
  margin: 10px 0;
}
.content .form-group input,
.content .form-group textarea,
.content .form-group select {
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: 2px solid #414141;
  width: 90%;
  resize: none;
}

.content .form-group input:hover,
.content .form-group textarea:hover,
.content .form-group input:focus,
.content .form-group textarea:focus {
  border: 2px solid #09bf90;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right h2 {
  margin: 20px 0;
  text-align: center;
}

.generated-items {
  width: 100%;
  margin-top: 20px;
}

.generated-header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.generated-header div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.generated-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.generated-item div {
  flex: 1;
  text-align: center;
}

/* FLASH MESSAGE*/
.alert {
  text-align: center;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert.error {
  background-color: #cc0000;
  color: white;
}
.alert.success {
  background-color: #007e33;
  color: white;
}
.alert.warning {
  background-color: #ffaa48;
  color: black;
}
.alert .message {
  flex-grow: 1;
}
.alert .dismiss {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 30px;
  transition: opacity 0.2s;
  opacity: 1;
}
.alert .dismiss:hover {
  opacity: 0.8;
}

.alert .dismiss.success {
  background-color: #004e1f;
  color: white;
}

.alert .dismiss.warning {
  background-color: #b96300;
  color: white;
}

.alert .dismiss.error {
  background-color: #800000;
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    height: 0%;
  }
  .content {
    flex-direction: column;
  }
}
